UK trade in goods by industry, country and commodity, imports

In [1]:
from gssutils import *

scraper = Scraper('https://www.ons.gov.uk/economy/nationalaccounts/balanceofpayments/datasets/uktradeingoodsbyindustrycountryandcommodityimports')
scraper

WARNING:Unexpected "next release" field: ('Unknown string format:', 'To be announced')

## UK trade in goods by industry, country and commodity, imports

This new experimental dataset providing a breakdown of UK trade in goods by industry, country and commodity on a balance of payments basis. Data are subject to disclosure control, which means some data have been suppressed to protect confidentiality of individual traders.

### Distributions

1. UK trade in goods by industry, country and commodity, imports ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/economy/nationalaccounts/balanceofpayments/datasets/uktradeingoodsbyindustrycountryandcommodityimports/2008to2016/tigindpublictionimportsv2.xlsx))

In [2]:
tabs = {tab.name: tab for tab in scraper.distribution().as_databaker()}
tabs.keys()

dict_keys(['CONTENTS', 'tigind_publiction_imports'])

In [3]:
tabs = scraper.distribution().as_databaker()

In [4]:
tab = next(t for t in tabs if t.name =='tigind_publiction_imports')

In [5]:
country = tab.filter(contains_string('country')).fill(DOWN).is_not_blank().is_not_whitespace()

In [6]:
industry = tab.filter(contains_string('industry')).fill(DOWN).is_not_blank().is_not_whitespace()

In [7]:
commodity = tab.filter(contains_string('commodity')).fill(DOWN).is_not_blank().is_not_whitespace()

In [8]:
year = tab.excel_ref('A1').fill(RIGHT).is_not_blank().is_not_whitespace().is_number()

In [9]:
observations = year.fill(DOWN).is_not_blank().is_not_whitespace()

In [10]:
Dimensions = [
            HDim(year,'Period',DIRECTLY,ABOVE),
            HDim(country,'ONS Partner Geography',DIRECTLY,LEFT),
            HDim(commodity,'CORD SITC',DIRECTLY,LEFT),
            HDim(industry,'SIC 2007',DIRECTLY,LEFT),
            HDimConst('Measure Type', 'GBP Total'),
            HDimConst('Unit', 'gbp-million'),
            HDimConst('Flow', 'imports')
            ]
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
table = c1.topandas()

In [11]:
import numpy as np
table['OBS'].replace('', np.nan, inplace=True)
table.dropna(subset=['OBS'], inplace=True)
if 'DATAMARKER' in table.columns:
    table.drop(columns=['DATAMARKER'], inplace=True)
table.rename(columns={'OBS': 'Value'}, inplace=True)
table['Value'] = table['Value'].astype(int)
table['Value'] = table['Value'].map(lambda x:'' if x == '...' else x )

In [12]:
for col in table.columns:
    if col not in ['Value', 'Period']:
        table[col] = table[col].astype('category')
        display(col)
        display(table[col].cat.categories)

'ONS Partner Geography'

Index(['AD Andorra', 'AE United Arab Emirates', 'AF Afghanistan',
       'AG Antigua & Barbuda', 'AI Anguilla', 'AL Albania', 'AM Armenia',
       'AO Angola', 'AQ Antarctica', 'AR Argentina',
       ...
       'VN Vietnam', 'VU Vanuatu', 'W1  Worldwide', 'WF Wallis & Futuna',
       'WS Samoa', 'XK Kosovo', 'YE Yemen', 'ZA South Africa', 'ZM Zambia',
       'ZW Zimbabwe'],
      dtype='object', length=235)

'CORD SITC'

Index(['0 Food & live animals', '1 Beverages & tobacco', '2 Crude materials',
       '3 Fuels', '4 Animal & vegetable oils & fats', '5 Chemicals',
       '6 Material manufactures', '7 Machinery & transport equipment',
       '8 Miscellaneous manufactures', '9 Unspecified goods', 'T Total'],
      dtype='object')

'SIC 2007'

Index(['01 Crop and animal production, hunting and related service activities',
       '02 Forestry and logging', '03 Fishing and aquaculture',
       '05 Mining of coal and lignite',
       '06 Extraction of crude petroleum and natural gas',
       '07 Mining of metal ores', '08 Other mining and quarrying',
       '09 Mining support service activities',
       '10 Manufacture of food products', '11 Manufacture of beverages',
       '12 Manufacture of tobacco products', '13 Manufacture of textiles',
       '14 Manufacture of wearing apparel',
       '15 Manufacture of leather and related products',
       '16 Manufacture of wood and of products of wood and cork, except furniture; manufacture of articles of straw and plaiting materials',
       '17 Manufacture of paper and paper products',
       '18 Printing and reproduction of recorded media',
       '19 Manufacture of coke and refined petroleum products',
       '20 Manufacture of chemicals and chemical products',
       '21 Manufacture of basic pharmaceutical products and pharmaceutical preparations',
       '22 Manufacture of rubber and plastic products',
       '23 Manufacture of other non-metallic mineral products',
       '24 Manufacture of basic metals',
       '25 Manufacture of fabricated metal products, except machinery and equipment',
       '26 Manufacture of computer, electronic and optical products',
       '27 Manufacture of electrical equipment',
       '28 Manufacture of machinery and equipment n.e.c.',
       '29 Manufacture of motor vehicles, trailers and semi-trailers',
       '30 Manufacture of other transport equipment',
       '31 Manufacture of furniture', '32 Other manufacturing',
       '33 Repair and installation of machinery and equipment',
       '35 Electricity, gas, steam and air conditioning supply',
       '36 Water collection, treatment and supply', '37 Sewerage',
       '38 Waste collection, treatment and disposal activities; materials recovery',
       '39 Remediation activities and other waste management services.',
       '41 Construction of buildings', '42 Civil engineering',
       '43 Specialised construction activities',
       '45 Wholesale and retail trade and repair of motor vehicles and motorcycles',
       '46 Wholesale trade, except of motor vehicles and motorcycles',
       '47 Retail trade, except of motor vehicles and motorcycles',
       '49 Land transport and transport via pipelines', '50 Water transport',
       '51 Air transport',
       '52 Warehousing and support activities for transportation',
       '53 Postal and courier activities', '55 Accommodation',
       '56 Food and beverage service activities', '58 Publishing activities',
       '59 Motion picture, video and television programme production, sound recording and music publishing activities',
       '60 Programming and broadcasting activities', '61 Telecommunications',
       '62 Computer programming, consultancy and related activities',
       '63 Information service activities',
       '65 Insurance, reinsurance and pension funding, except compulsory social security',
       '66 Activities auxiliary to financial services and insurance activities',
       '68 Real estate activities', '69 Legal and accounting activities',
       '70 Activities of head offices; management consultancy activities',
       '71 Architectural and engineering activities; technical testing and analysis',
       '72 Scientific research and development',
       '73 Advertising and market research',
       '74 Other professional, scientific and technical activities',
       '75 Veterinary activities', '77 Rental and leasing activities',
       '78 Employment activities',
       '79 Travel agency, tour operator and other reservation service and related activities',
       '80 Security and investigation activities',
       '81 Services to buildings and landscape activities',
       '82 Office administrative, office support and other business support activities',
       '84 Public administration and defence; compulsory social security',
       '85 Education', '86 Human health activities',
       '87 Residential care activities',
       '88 Social work activities without accommodation',
       '90 Creative, arts and entertainment activities',
       '91 Libraries, archives, museums and other cultural activities',
       '92 Gambling and betting activities',
       '93 Sports activities and amusement and recreation activities',
       '94 Activities of membership organisations',
       '95 Repair of computers and personal and household goods',
       '96 Other personal service activities',
       '97 Activities of households as employers of domestic personnel',
       '98 Undifferentiated goods- and services-producing activities of private households for own use',
       '99 Activities of extraterritorial organisations and bodies'],
      dtype='object')

'Measure Type'

Index(['GBP Total'], dtype='object')

'Unit'

Index(['gbp-million'], dtype='object')

'Flow'

Index(['imports'], dtype='object')

In [13]:
table['CORD SITC'].cat.categories = table['CORD SITC'].cat.categories.map(lambda x: x[:1])
table['ONS Partner Geography'].cat.categories = table['ONS Partner Geography'].cat.categories.map(lambda x: x[:2])
table['SIC 2007'].cat.categories = table['SIC 2007'].cat.categories.map(lambda x: x[:2])
display(table['CORD SITC'].cat.categories)
display(table['ONS Partner Geography'].cat.categories)
display(table['SIC 2007'].cat.categories)

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'T'], dtype='object')

Index(['AD', 'AE', 'AF', 'AG', 'AI', 'AL', 'AM', 'AO', 'AQ', 'AR',
       ...
       'VN', 'VU', 'W1', 'WF', 'WS', 'XK', 'YE', 'ZA', 'ZM', 'ZW'],
      dtype='object', length=235)

Index(['01', '02', '03', '05', '06', '07', '08', '09', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '28', '29', '30', '31', '32', '33', '35', '36', '37', '38',
       '39', '41', '42', '43', '45', '46', '47', '49', '50', '51', '52', '53',
       '55', '56', '58', '59', '60', '61', '62', '63', '65', '66', '68', '69',
       '70', '71', '72', '73', '74', '75', '77', '78', '79', '80', '81', '82',
       '84', '85', '86', '87', '88', '90', '91', '92', '93', '94', '95', '96',
       '97', '98', '99'],
      dtype='object')

In [14]:
table['Period'] = 'year/' + table['Period'].astype(str).str[0:4]

In [15]:
table = table[['ONS Partner Geography', 'Period','Flow','CORD SITC', 'SIC 2007', 'Measure Type','Value','Unit' ]]

In [16]:
table

,ONS Partner Geography,Period,Flow,CORD SITC,SIC 2007,Measure Type,Value,Unit
0,W1,year/2008,imports,0,01,GBP Total,397,gbp-million
1,W1,year/2009,imports,0,01,GBP Total,411,gbp-million
2,W1,year/2010,imports,0,01,GBP Total,398,gbp-million
3,W1,year/2011,imports,0,01,GBP Total,361,gbp-million
4,W1,year/2012,imports,0,01,GBP Total,373,gbp-million
5,W1,year/2013,imports,0,01,GBP Total,501,gbp-million
6,W1,year/2014,imports,0,01,GBP Total,460,gbp-million
7,W1,year/2015,imports,0,01,GBP Total,534,gbp-million
8,W1,year/2016,imports,0,01,GBP Total,404,gbp-million
14,W1,year/2013,imports,1,01,GBP Total,0,gbp-million
16,W1,year/2015,imports,1,01,GBP Total,0,gbp-million
17,W1,year/2016,imports,1,01,GBP Total,0,gbp-million
18,W1,year/2008,imports,2,01,GBP Total,86,gbp-million
19,W1,year/2009,imports,2,01,GBP Total,77,gbp-million
20,W1,year/2010,imports,2,01,GBP Total,71,gbp-million
21,W1,year/2011,imports,2,01,GBP Total,85,gbp-million
22,W1,year/2012,imports,2,01,GBP Total,82,gbp-million
23,W1,year/2013,imports,2,01,GBP Total,85,gbp-million
24,W1,year/2014,imports,2,01,GBP Total,87,gbp-million
25,W1,year/2015,imports,2,01,GBP Total,68,gbp-million
26,W1,year/2016,imports,2,01,GBP Total,77,gbp-million
28,W1,year/2009,imports,3,01,GBP Total,4,gbp-million
29,W1,year/2010,imports,3,01,GBP Total,3,gbp-million
30,W1,year/2011,imports,3,01,GBP Total,4,gbp-million
31,W1,year/2012,imports,3,01,GBP Total,8,gbp-million
32,W1,year/2013,imports,3,01,GBP Total,6,gbp-million
42,W1,year/2014,imports,4,01,GBP Total,0,gbp-million
45,W1,year/2008,imports,5,01,GBP Total,6,gbp-million
46,W1,year/2009,imports,5,01,GBP Total,8,gbp-million
48,W1,year/2011,imports,5,01,GBP Total,12,gbp-million
...,...,...,...,...,...,...,...,...
122403,ZW,year/2011,imports,T,90,GBP Total,0,gbp-million
122404,ZW,year/2012,imports,T,90,GBP Total,0,gbp-million
122405,ZW,year/2013,imports,T,90,GBP Total,0,gbp-million
122406,ZW,year/2014,imports,T,90,GBP Total,0,gbp-million
122407,ZW,year/2015,imports,T,90,GBP Total,0,gbp-million
122408,ZW,year/2016,imports,T,90,GBP Total,0,gbp-million
122409,ZW,year/2008,imports,T,93,GBP Total,0,gbp-million
122410,ZW,year/2009,imports,T,93,GBP Total,0,gbp-million
122412,ZW,year/2011,imports,T,93,GBP Total,0,gbp-million
122413,ZW,year/2012,imports,T,93,GBP Total,0,gbp-million
122414,ZW,year/2013,imports,T,93,GBP Total,0,gbp-million
122415,ZW,year/2014,imports,T,93,GBP Total,0,gbp-million
122416,ZW,year/2015,imports,T,93,GBP Total,0,gbp-million
122417,ZW,year/2016,imports,T,93,GBP Total,0,gbp-million
122418,ZW,year/2008,imports,T,95,GBP Total,0,gbp-million
122419,ZW,year/2009,imports,T,95,GBP Total,0,gbp-million
122421,ZW,year/2011,imports,T,95,GBP Total,0,gbp-million
122422,ZW,year/2012,imports,T,95,GBP Total,0,gbp-million
122423,ZW,year/2013,imports,T,95,GBP Total,0,gbp-million
122424,ZW,year/2014,imports,T,95,GBP Total,0,gbp-million
122425,ZW,year/2015,imports,T,95,GBP Total,0,gbp-million
122426,ZW,year/2016,imports,T,95,GBP Total,0,gbp-million
122427,ZW,year/2008,imports,T,96,GBP Total,0,gbp-million
122428,ZW,year/2009,imports,T,96,GBP Total,0,gbp-million
122429,ZW,year/2010,imports,T,96,GBP Total,0,gbp-million
122431,ZW,year/2012,imports,T,96,GBP Total,0,gbp-million
122432,ZW,year/2013,imports,T,96,GBP Total,0,gbp-million
122433,ZW,year/2014,imports,T,96,GBP Total,0,gbp-million
122434,ZW,year/2015,imports,T,96,GBP Total,0,gbp-million
122435,ZW,year/2016,imports,T,96,GBP Total,0,gbp-million