UK trade in goods by industry, country and commodity, imports

In [1]:
from gssutils import *

scraper = Scraper('https://www.ons.gov.uk/economy/nationalaccounts/balanceofpayments/datasets/uktradeingoodsbyindustrycountryandcommodityimports')
scraper

WARNING:Unexpected "next release" field: Unknown string format

## UK trade in goods by industry, country and commodity, imports

Experimental dataset providing a breakdown of UK trade in goods by industry, country and commodity on a balance of payments basis. Data are subject to disclosure control, which means some data have been suppressed to protect confidentiality of individual traders.

### Distributions

1. UK trade in goods by industry, country and commodity, imports ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/economy/nationalaccounts/balanceofpayments/datasets/uktradeingoodsbyindustrycountryandcommodityimports/2008to2017/tigindimpubl3.xlsx))

In [2]:
tabs = {tab.name: tab for tab in scraper.distribution().as_databaker()}
tabs.keys()

dict_keys(['Contents', 'tig_ind_im_publ'])

In [3]:
tabs = scraper.distribution().as_databaker()

In [4]:
tab = next(t for t in tabs if t.name =='tig_ind_im_publ')

In [5]:
country = tab.filter(contains_string('country')).fill(DOWN).is_not_blank().is_not_whitespace()

In [6]:
industry = tab.filter(contains_string('industry')).fill(DOWN).is_not_blank().is_not_whitespace()

In [7]:
commodity = tab.filter(contains_string('commodity')).fill(DOWN).is_not_blank().is_not_whitespace()

In [8]:
year = tab.excel_ref('A1').fill(RIGHT).is_not_blank().is_not_whitespace().is_number()

In [9]:
observations = year.fill(DOWN).is_not_blank().is_not_whitespace()

In [10]:
Dimensions = [
            HDim(year,'Period',DIRECTLY,ABOVE),
            HDim(country,'ONS Partner Geography',DIRECTLY,LEFT),
            HDim(commodity,'CORD SITC',DIRECTLY,LEFT),
            HDim(industry,'SIC 2007',DIRECTLY,LEFT),
            HDimConst('Measure Type', 'GBP Total'),
            HDimConst('Unit', 'gbp-million'),
            HDimConst('Flow', 'imports')
            ]
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
table = c1.topandas()

In [11]:
# import numpy as np
# table['OBS'].replace('', np.nan, inplace=True)
# table.dropna(subset=['OBS'], inplace=True)
# if 'DATAMARKER' in table.columns:
#     table.drop(columns=['DATAMARKER'], inplace=True)
# table.rename(columns={'OBS': 'Value'}, inplace=True)
# table['Value'] = table['Value'].astype(int)
# table['Value'] = table['Value'].map(lambda x:'' if x == '...' else x )

In [12]:
table['DATAMARKER'] = table['DATAMARKER'].map(lambda x:'suppressed data' if x == '..' else x )

In [13]:
import numpy as np
table['OBS'].replace('', np.nan, inplace=True)
table.rename(columns={'OBS': 'Value','DATAMARKER' : 'Marker'}, inplace=True)
table['Value'] = pd.to_numeric(table['Value'], errors='coerce')

In [14]:
for col in table.columns:
    if col not in ['Value', 'Period']:
        table[col] = table[col].astype('category')
        display(col)
        display(table[col].cat.categories)

'Marker'

Index(['suppressed data'], dtype='object')

'ONS Partner Geography'

Index(['AD Andorra', 'AE United Arab Emirates', 'AF Afghanistan',
       'AG Antigua & Barbuda', 'AI Anguilla', 'AL Albania', 'AM Armenia',
       'AO Angola', 'AQ Antarctica', 'AR Argentina',
       ...
       'VN Vietnam', 'VU Vanuatu', 'W1 Worldwide', 'WF Wallis & Futuna',
       'WS Samoa', 'XK Kosovo', 'YE Yemen', 'ZA South Africa', 'ZM Zambia',
       'ZW Zimbabwe'],
      dtype='object', length=235)

'CORD SITC'

Index(['00 Live animals', '01 Meat & meat preparations',
       '02 Dairy products & eggs', '03 Fish & shellfish', '04 Cereals',
       '05 Vegetables & fruit', '06 Sugar', '07 Coffee, tea, cocoa etc',
       '08 Animal feeding stuffs', '09 Miscellaneous foods', '11 Beverages',
       '12 Tobacco', '21 Hides, skins & furskins',
       '22 Oil-seeds & oleaginous fruits', '23 Crude rubber', '24 Wood & cork',
       '25 Pulp & waste paper', '26 Textile fibres',
       '27 Crude minerals & fertilisers', '28 Metal ores & scrap',
       '29 Other crude animal & vegetable materials',
       '32 Coal, coke & briquettes', '33 Oil', '34 Gas', '35 Electricity',
       '41 Animal oils & fats', '42 Vegetable oils & fats',
       '43 Processed oils & fats', '51 Organic chemicals',
       '52 Inorganic chemicals', '53 Dyeing, tanning & colouring materials',
       '54 Medicinal & pharmaceutical products',
       '55 Toilet & cleansing preparations', '56 Processed fertilisers',
       '57 Plastics in primary forms', '58 Plastics in non-primary forms',
       '59 Other chemicals', '61 Leather manufactures',
       '62 Rubber manufactures', '63 Wood & cork manufactures',
       '64 Paper & paperboard', '65 Textile fabrics',
       '66 Mineral manufactures', '67 Iron & steel', '68 Non-ferrous metals',
       '69 Miscellaneous metal manufactures', '78 Road vehicles',
       '79 Other transport equipment', '7E Electrical machinery',
       '7M Mechanical machinery', '84 Clothing', '85 Footwear',
       '87plus88 Scientific & photographic', '8O Other manufactures',
       '9 Unspecified goods', 'T Total'],
      dtype='object')

'SIC 2007'

Index(['01 Crop and animal production, hunting and related service activities',
       '02 Forestry and logging', '03 Fishing and aquaculture',
       '05 Mining of coal and lignite',
       '06 Extraction of crude petroleum and natural gas',
       '07 Mining of metal ores', '08 Other mining and quarrying',
       '09 Mining support service activities',
       '10 Manufacture of food products', '11 Manufacture of beverages',
       '12 Manufacture of tobacco products', '13 Manufacture of textiles',
       '14 Manufacture of wearing apparel',
       '15 Manufacture of leather and related products',
       '16 Manufacture of wood and of products of wood and cork, except furniture; manufacture of articles of straw and plaiting materials',
       '17 Manufacture of paper and paper products',
       '18 Printing and reproduction of recorded media',
       '19 Manufacture of coke and refined petroleum products',
       '20 Manufacture of chemicals and chemical products',
       '21 Manufacture of basic pharmaceutical products and pharmaceutical preparations',
       '22 Manufacture of rubber and plastic products',
       '23 Manufacture of other non-metallic mineral products',
       '24 Manufacture of basic metals',
       '25 Manufacture of fabricated metal products, except machinery and equipment',
       '26 Manufacture of computer, electronic and optical products',
       '27 Manufacture of electrical equipment',
       '28 Manufacture of machinery and equipment n.e.c.',
       '29 Manufacture of motor vehicles, trailers and semi-trailers',
       '30 Manufacture of other transport equipment',
       '31 Manufacture of furniture', '32 Other manufacturing',
       '33 Repair and installation of machinery and equipment',
       '35 Electricity, gas, steam and air conditioning supply',
       '36 Water collection, treatment and supply', '37 Sewerage',
       '38 Waste collection, treatment and disposal activities; materials recovery',
       '39 Remediation activities and other waste management services.',
       '41 Construction of buildings', '42 Civil engineering',
       '43 Specialised construction activities',
       '45 Wholesale and retail trade and repair of motor vehicles and motorcycles',
       '46 Wholesale trade, except of motor vehicles and motorcycles',
       '47 Retail trade, except of motor vehicles and motorcycles',
       '49 Land transport and transport via pipelines', '50 Water transport',
       '51 Air transport',
       '52 Warehousing and support activities for transportation',
       '53 Postal and courier activities', '55 Accommodation',
       '56 Food and beverage service activities', '58 Publishing activities',
       '59 Motion picture, video and television programme production, sound recording and music publishing activities',
       '60 Programming and broadcasting activities', '61 Telecommunications',
       '62 Computer programming, consultancy and related activities',
       '63 Information service activities',
       '64 Financial service activities, except insurance and pension funding',
       '65 Insurance, reinsurance and pension funding, except compulsory social security',
       '66 Activities auxiliary to financial services and insurance activities',
       '68 Real estate activities', '69 Legal and accounting activities',
       '70 Activities of head offices; management consultancy activities',
       '71 Architectural and engineering activities; technical testing and analysis',
       '72 Scientific research and development',
       '73 Advertising and market research',
       '74 Other professional, scientific and technical activities',
       '75 Veterinary activities', '77 Rental and leasing activities',
       '78 Employment activities',
       '79 Travel agency, tour operator and other reservation service and related activities',
       '80 Security and investigation activities',
       '81 Services to buildings and landscape activities',
       '82 Office administrative, office support and other business support activities',
       '84 Public administration and defence; compulsory social security',
       '85 Education', '86 Human health activities',
       '87 Residential care activities',
       '88 Social work activities without accommodation',
       '90 Creative, arts and entertainment activities',
       '91 Libraries, archives, museums and other cultural activities',
       '92 Gambling and betting activities',
       '93 Sports activities and amusement and recreation activities',
       '94 Activities of membership organisations',
       '95 Repair of computers and personal and household goods',
       '96 Other personal service activities',
       '98 Undifferentiated goods- and services-producing activities of private households for own use',
       '99 Activities of extraterritorial organisations and bodies'],
      dtype='object')

'Measure Type'

Index(['GBP Total'], dtype='object')

'Unit'

Index(['gbp-million'], dtype='object')

'Flow'

Index(['imports'], dtype='object')

In [15]:
table['CORD SITC'].cat.categories = table['CORD SITC'].cat.categories.map(lambda x: x[:2])
table['ONS Partner Geography'].cat.categories = table['ONS Partner Geography'].cat.categories.map(lambda x: x[:2])
table['SIC 2007'].cat.categories = table['SIC 2007'].cat.categories.map(lambda x: x[:2])
display(table['CORD SITC'].cat.categories)
display(table['ONS Partner Geography'].cat.categories)
display(table['SIC 2007'].cat.categories)

Index(['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '11', '12',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '32', '33', '34',
       '35', '41', '42', '43', '51', '52', '53', '54', '55', '56', '57', '58',
       '59', '61', '62', '63', '64', '65', '66', '67', '68', '69', '78', '79',
       '7E', '7M', '84', '85', '87', '8O', '9 ', 'T '],
      dtype='object')

Index(['AD', 'AE', 'AF', 'AG', 'AI', 'AL', 'AM', 'AO', 'AQ', 'AR',
       ...
       'VN', 'VU', 'W1', 'WF', 'WS', 'XK', 'YE', 'ZA', 'ZM', 'ZW'],
      dtype='object', length=235)

Index(['01', '02', '03', '05', '06', '07', '08', '09', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '28', '29', '30', '31', '32', '33', '35', '36', '37', '38',
       '39', '41', '42', '43', '45', '46', '47', '49', '50', '51', '52', '53',
       '55', '56', '58', '59', '60', '61', '62', '63', '64', '65', '66', '68',
       '69', '70', '71', '72', '73', '74', '75', '77', '78', '79', '80', '81',
       '82', '84', '85', '86', '87', '88', '90', '91', '92', '93', '94', '95',
       '96', '98', '99'],
      dtype='object')

In [16]:
table['Period'] = 'year/' + table['Period'].astype(str).str[0:4]

In [17]:
table = table[['ONS Partner Geography', 'Period','Flow','CORD SITC', 'SIC 2007', 'Measure Type','Value','Unit', 'Marker']]